a {
  color: rgb(66, 65, 65);
  text-decoration: none;
}

a:hover {
  color: #e7e7ee;
}

body {
  background: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/055/485/original/tomoko-uji-Oq6Mdb4o6vA-unsplash.jpg?1669569935)
    no-repeat center center fixed;
  background-size: 90%;
  color: rgb(66, 65, 65);
  font-family: "Quicksand", sans-serif;
  margin: auto;
  max-width: 70%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  font-size: 75px;
  font-weight: 100;
  height: 28px;
  line-height: 1.5;
  margin-bottom: 45px;
}

#country {
  font-size: 35px;
  margin-top: 80px;
}

#date-time {
  color: rgb(66, 65, 65);
  font-size: 50px;
  font-weight: 100;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
.mainDescription,
#description {
  color: rgb(66, 65, 65);
  font-size: 35px;
  font-weight: 800;
  line-height: 1.5;
  margin-bottom: 30px;
  margin-right: 10px;
  text-align: right;
}

#extraDescription {
  color: rgb(66, 65, 65);
  font-size: 15px;
  font-weight: 100;
  line-height: 1.5;
  margin: 0 0 30px;
  padding: 0 auto;
  text-align: center;
}

#first-alert {
  margin-bottom: 0;
  text-align: center;
}
#forecast {
  margin: 20px;
}
#gps {
  border-radius: 50%;
  border: 1px solid rgb(117, 117, 117);
  color: rgb(66, 65, 65);
  font-size: 20px;
  line-height: 1.5;
  position: relative;
  padding: 10px 15px;
  right: -30px;
  bottom: -110px;
}
#gps:hover {
  background-color: rgb(187, 187, 187);
  transition: ease-out 0.2s;
  border: 1px solid rgb(65, 66, 66);
}
.humidityElement,
.pressureElement,
.windElement,
#humidity,
#pressure,
#wind {
  font-size: 20px;
}
#icon {
  background-color: rgba(247, 243, 243, 0.342);
  display: inline-block;
  border: 2px solid rgba(94, 92, 92, 0.712);
  border-radius: 50%;
  background: rgba(221, 218, 218, 0.568);
  box-shadow: 2px 2px 30px;
  margin-top: 150px;
  margin-left: -30px;
  transition: linear 0.25s;
  width: 200px;
}
#icon:hover {
  transition: ease-out 0.2s;
  border: 2px solid rgba(94, 92, 92, 0.712);
}

#search-city-bar {
  line-height: 2.5;
  margin: auto 0;
  padding: 50px;
  width: 50%;
}
#search-form {
  margin-top: 40px;
  margin-left: 260px;
  width: 40%;
}
#show-time {
  font-size: 25px;
  margin-bottom: 20px;
  margin-left: 80px;
}
#second-alert {
  text-align: center;
}
.current-temp-degree {
  color: rgb(66, 65, 65);
  font-size: 70px;
  font-weight: 400;
  line-height: 1;
}
#temperature {
  color: rgb(66, 65, 65);
  font-size: 70px;
  font-weight: 400;
  line-height: 1;
  margin-top: 0 auto;
  margin-left: 50px;
  margin-bottom: 40px;
  padding: 0;
}
.calendar {
  margin-left: 10px;
}
.cityName {
  margin-left: 100px;
  margin-bottom: 50px;
  padding: 15px;
}
.container {
  margin-top: 20px;
  max-width: 80%;
}
.col-2 {
  display: block;
  border: 1px solid rgba(153, 150, 150, 0.555);
  border-radius: 30px;
  background: rgba(248, 247, 235, 0.322);
  margin: 10px auto;
  padding: 10px;
  text-align: center;
  transition: all 300ms ease-in-out;
}

.col-2:hover {
  background: rgba(245, 223, 163, 0.521);
}

.weather-forecast {
  display: block;
  margin: 20px;
  padding: 0 auto;
  line-height: 1.5;
  border: 0.9px solid rgba(94, 92, 92, 0.712);
  border-radius: 30px;
  background: rgba(221, 218, 218, 0.568);
  box-shadow: 2px 2px 30px;
  text-align: center;
}
.weather-forecast:hover {
  transition: ease-out 0.2s;
  border: 2px solid rgba(94, 92, 92, 0.712);
}
.weather-forecast-date {
  font-size: 25px;
}
.gitLink {
  font-size: 18px;
  margin-top: 20px;
  text-align: center;
}
.main-icon {
  width: 60px;
}
.main-icon:hover {
  max-width: 80px;
}
.overview {
  margin: 20px;
}

.unitBtn {
  border-radius: 50%;
  border: 1px solid rgb(117, 117, 117);
  color: rgb(66, 65, 65);
  font-size: 15px;
  line-height: 1.5;
  margin: 8px;
  padding: 10px 15px;
}
.unitBtn:hover {
  background-color: rgb(187, 187, 187);
  transition: ease-out 0.2s;
}
#celsius-link {
  position: relative;
  right: -10px;
  bottom: -150px;
}
#fahrenheit-link {
  position: relative;
  right: 25px;
  bottom: -195px;
}
.active {
  font-size: 15px;
  background-color: rgba(187, 187, 187, 0.767);
}
.weather-app-body {
  background-color: rgba(231, 231, 231, 0.671);
  border: 1px solid rgb(194, 194, 194);
  border-radius: 50%;
  box-shadow: 2px 2px 30px;
  padding: 30px;
  margin: auto;
}

.weather-app-wrapper {
  margin: 0 auto;
  max-height: 50%;
  padding: 30px;
}
.weather-description {
  margin: 20px;
}
.weather-forecast-date {
  font-size: 30px;
}
.weather-forecast-temperature-max {
  font-size: 25px;
}
